{# app/Resources/views/index.html.twig #}

{% extends 'base.html.twig' %}
{%  set bodyClass = 'index' %}
{% block body %}
    <section class="categories">
        <div>
            <h2>Cette page n'existe pas</h2>
        </div>
    </section>
{% endblock %}

