{% extends 'base.html.twig' %}
{%  set bodyClass = 'resetpassword' %}
{% block title %}Réinitialisation du mot de passe envoyé{% endblock %}


{% block body %}
    <div class="container">
        <div class="content">
            <p>
                Vous allez recevoir un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.<br>
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <br>
            <p>Si vous ne recevez pas d'e-mail, <strong>veuillez vérifier votre dossier de courriers indésirables / SPAM</strong> ou <a href="{{ path('app_forgot_password_request') }}">essayer une nouvelle fois</a>.</p>

        </div>
    </div>
{% endblock %}
