@import 'filepond/dist/filepond.min.css';

.flex-fill {
  flex: 1 1 auto!important;
  margin: 15px 0 5px;

  .ea-light-scheme &  {
    border-bottom: 1px solid var(--true-gray-100);
  }
  .ea-dark-scheme & {
    border-bottom: 1px solid var(--true-gray-700);
  }
}

.input-file-container {
  min-width: 300px;
}


 :root {
   --fieldset-bg: #3d5373;
 }
