

.page-login,
.page-resetpassword {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    &:last-of-type{
      padding:1.5rem;
    }
    img {

    }
    form {
      margin-top: 50px;
      width:100%;
      .flex{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
        .input-field{
          width:100%;

          &>label{
            left:50%;
            top:50%;
            transform:translate3d(-50%, -25px, 0);
            opacity:1;
            &.active {
              //transform:translate3d(-50%, -50px, 0) scale(0.8);
              opacity:0;
            }
          }
          input[type="password"],
          input[id="username"],
          input[type="email"]{
            width: 100%;
            outline: none;
            padding: 5px;
            margin-bottom: 10px;
            border:1px solid rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
  button {
    text-align: right;
    background-color: $orange;
    text-transform: uppercase;
    padding: 5px 15px;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  small {display:inline-block;}
}

.page-login {
  background-image: url('../images/login-bg.jpg');
  background-size: cover;
}


.page-index {
  section.categories {
    padding: 30px 50px 30px 0px;
    border-left: 12px solid $orange;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;

    .categorie {
      padding: 0px 50px;
      & + .categorie {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 1px solid #c5c5c5;
      }
      .operations {
        display: flex;
        flex-wrap: wrap;
        .operation-item {
          margin:20px 20px 20px 0;
          max-width: 300px;
        }
      }
    }

    .alaune {
      a {line-height: 0;}
      .bloc {
        width: 300px;
        .title_dates {
          background-color: $orange;
          color: #FFF;
          padding:25px;

          .dates {
            font-size: 1.5em;
            line-height: 1.1em;
            margin-left: 0px;
            padding-left: 10px;
            font-weight: 600;
            position: relative;
            &:before {
              position: absolute;
              height: 90%;
              top: 8%;
              width: 4px;
              background-color: #ffffff;
              content: "";
              left: 0;
            }
          }
        }

        .marques {
          background-color: #FFF;
          padding:10px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          figure {
            &.logo {
              width:45px;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        a.file, a.file:hover {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          padding: 10px 20px;
          border: 1px solid #000000;
          border-radius: 0px;
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
          font-weight: 600;
          color: #000000;

        }

      }
    }

  }



}
.page-operation {
  section.operation {
    padding: 30px 0;
    .operation {
      display: flex;
      flex-direction: row;
      .desc {
        width: calc(100% - 350px);
        margin-top: 1em;
        padding: 0 50px 50px 0;
        .description {

        }
      }
      .bloc {
        width: 300px;
        transform: translate3d(25px, -50px, 0);
        .title_dates {
          background-color: $vert-deau;
          color: #FFF;
          padding:25px;

          .dates {
            font-size: 1.5em;
            line-height: 1.1em;
            margin-left: 0px;
            padding-left: 10px;
            font-weight: 600;
            position: relative;
            &:before {
              position: absolute;
              height: 90%;
              top: 8%;
              width: 4px;
              background-color: #ffffff;
              content: "";
              left: 0;
            }
          }
        }

        .marques {
          background-color: #FFF;
          padding:10px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          figure {
            &.logo {
              width:45px;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        a.file, a.file:hover {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          padding: 10px 20px;
          border: 1px solid #000000;
          border-radius: 0px;
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
          font-weight: 600;
          color: #000000;

        }

      }
    }
    .outils {
      width: calc(100% - 350px);
      border-top: 1px solid #D5D5D5;
      padding-top:20px;
      .outil {
        & + .outil {
          padding-top: 20px;
          margin-top: 20px;
          border-top: 1px solid #D5D5D5;
        }
        display: flex;
        padding: 0px 50px 0px 0px;
        figure {
          width:200px;
          margin-right: 30px;
          background-color: #FFF;
          box-shadow: 0 0 10px 0px rgba(0,0,0,0.05);
        }
        .content{
          display: flex;
          flex-direction: column;
        }
      }

    }

  }

}

.icon-text {
  .icon {
    vertical-align: middle;
  }
}
