{# app/Resources/views/index.html.twig #}

{% extends 'base.html.twig' %}
{% block body%}
    <h1>Granturismo</h1>
    <h2>Index</h2>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Bienvenue: {{ app.user.username }}</p>
    {% endif %}
{% endblock %}
